<link rel="stylesheet" type="text/css" href="/styles/table.css">

<h1>Players List</h1>

<hr/>

<div class="table">
<table>
  <tr>
    <th>Name</th>
    <th>Strength</th>
    <th>Ability</th>
    <th>Power</th>
    <th>Edit</th>
  </tr>


<% for player in @players %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.strength %></td>
    <td><%= player.ability %></td>
    <td><%= player.power %></td>
    <td><a href="/player_list/<%= player.id %>"> Show </a></td>
  </tr>
<% end %>
</table>
</div>

<hr/>

<li id="background"><a href="/player_list/new">Add Player</a></li>
