<link rel="stylesheet" type="text/css" href="/styles/table.css">

<div class="table">
  <table>
    <tr>
<td>Name: <%= @player.name %></td>
<td>Strength: <%= @player.strength %></td>
<td>Ability: <%= @player.ability %></td>
<td>Power: <%= @player.power  %></td>
<td>Wins: <%= @player.wins  %></td>
   </tr>
 </table>
</div>

<a id="background" href="/player_list"> Back </a>

<a id="background" href="/player_list/edit/<%= @player.id  %>"> Edit </a>

<form action="/player_list/delete/<%= @player.id %>" method="post">
   <input type="submit" name="Delete" value="Delete Player">
</form>
