<link rel="stylesheet" type="text/css" href="/styles/table.css">

<div class="table">
  <table>
<tr>
<td> <%= @battle.get_player1.name %> vs <%= @battle.get_player2.name  %> </td>
</tr>
<tr>
<td> winner: <%= @battle.get_player(@battle.outcome, "outcome").name  %> </td>
</tr>
  </table>
</div>

<a id="background" href="/battle_list"> Back </a>

<a id="background" href="/battle_list/edit/<%= @battle.id  %>"> Edit </a>

<form action="/battle_list/delete/<%= @battle.id %>" method="post">
   <input type="submit" name="Delete" value="Delete Battle">
</form>
